<table class='table table-striped table-hover'>
  <tbody>
    {{- range . }}
    <tr>
      <!-- Name and Skills  -->
      <td width='12%'> {{ .Name }}
        <small> <small>
        {{- range .Skills }}
          <br>&nbsp <a href="glossar/#{{ . }}" target="_blank" class='text-monospace nolink'>{{ . }}</a>
        {{- end }}
        </small> </small>
      </td>

      <!-- Health/Fatigue and Hero Armor plus worn Armor -->
      <td width='19%'> 
        <div class='btn-group' role='group' aria-label='asdfg'>
          <div class='btn-group' role='group'>
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/healthicon.png' width='18' /> {{ .Wounds }}  
            </button> 
              <ul class='dropdown-menu'>
                <li><a action='healthup'   hero='{{ .Name }}' class='itemlist' href='#'>Wound +</a></li>
                <li><a action='healthdown' hero='{{ .Name }}' class='itemlist' href='#'>Wound -</a></li>
              </ul>
          </div>  
          <div class='btn-group' role='group'>
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/fatigueicon.png' width='18' /> {{ .Fatigue }} 
            </button>
              <ul class='dropdown-menu'>
                <li><a action='fatigueup'   hero='{{ .Name }}' class='itemlist' href='#'>Fatigue +</a></li>
                <li><a action='fatiguedown' hero='{{ .Name }}' class='itemlist' href='#'>Fatigue -</a></li>
              </ul>
          </div>
          <div class='btn-group' role='group'>
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/armoricon.png' width='18' /> {{ .Armor }} 
            </button>
              <ul class='dropdown-menu'>
                <li><a action='armorup'   hero='{{ .Name }}' class='itemlist' href='#'>Armor +</a></li>
                <li><a action='armordown' hero='{{ .Name }}' class='itemlist' href='#'>Armor -</a></li>
              </ul>
          </div> 
          <div class='btn-group' role='group'>
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/speedicon.png' width='18' /> {{ .Speed }} 
            </button>
              <ul class='dropdown-menu'>
                <li><a action='speedup'   hero='{{ .Name }}' class='itemlist' href='#'>Speed +</a></li>
                <li><a action='speeddown' hero='{{ .Name }}' class='itemlist' href='#'>Speed -</a></li>
              </ul>
          </div>
        </div>
        {{- if .Equipped.ArmorName }}
          <small> <small> <small>
            <br> {{ .Equipped.ArmorName  }} {{ .Equipped.ArmorValue }}
          </small> </small> <small>
         {{- end }}

      </td>

      <!-- Weapon Dice /Heros Skill and armor value. Images is a gocode pre generated combination --->
      <td> {{ if .Equipped.WeaponImage }}  {{ .Equipped.WeaponImage }}  {{ end }}
        {{ if .Equipped.ShieldName }} <br><small><small> {{ .Equipped.ShieldName }} </small></small>
          <small><small><small><br> {{ .Equipped.ShieldValue }} </small></small></small> 
        {{- end }}
      </td>
      <!-- Weapon Effects the same rendering you have on the market page  -->
      <td width='20%'> <small> {{ .Equipped.WeaponEffect }} <small> </td>

      <!-- 3 buttons and other equiped items -->
      <td width='19%'>
        <div class='btn-group' role='group' aria-label='asdf'>
          <div class='btn-group' role='group'>
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/healthpotion.png' width='18'> {{ .HealthPotions }}
            </button>
            <ul class='dropdown-menu'>
              <li><a action='healthbuy'   hero='{{ .Name }}' class='itemlist' href='#'>Buy a Health Potion</a></li>
              <li><a action='healthplus'  hero='{{ .Name }}' class='itemlist' href='#'>Gain a Health Potion</a></li>
              <li><a action='healthminus' hero='{{ .Name }}' class='itemlist' href='#'>Lose a Health Potion</a></li>
            </ul>
          </div>
          <div class='btn-group' role='group'> 
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/fatiguepotion.png' width='18' /> {{ .FatiguePotions }}
            </button>
            <ul class='dropdown-menu'>
              <li><a action='fatiguebuy'   hero='{{ .Name }}' class='itemlist' href='#'>Buy a Fatigue Potion</a></li>
              <li><a action='fatigueplus'  hero='{{ .Name }}' class='itemlist' href='#'>Gain a Fatigue Potion</a></li>
              <li><a action='fatigueminus' hero='{{ .Name }}' class='itemlist' href='#'>Lose a Fatigue Potion</a></li>
            </ul>
          </div>
          <div class='btn-group' role='group'> 
            <button type='button' class='btn btn-default dropdown-toggle'data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <img src='images/golditem.png' width='18' /> {{ .Gold }}
            </button>
            <ul class='dropdown-menu'>
              <li><a action='goldp50'   hero='{{ .Name }}' class='itemlist' href='#'>Gain 50 Gold</a></li>
              <li><a action='goldp100'  hero='{{ .Name }}' class='itemlist' href='#'>Gain 100 Gold</a></li>
              <li><a action='goldm25'   hero='{{ .Name }}' class='itemlist' href='#'>Lose 25 Gold</a></li>
              <li><a action='goldm100'  hero='{{ .Name }}' class='itemlist' href='#'>Lose 100 Gold</a></li>
              <li><a action='buycopper' hero='{{ .Name }}' class='itemlist' href='#'>Buy Copper Treasure</a></li>
              <li><a action='buysilver' hero='{{ .Name }}' class='itemlist' href='#'>Buy Silver Treasure</a></li>
              <li><a action='buygold'   hero='{{ .Name }}' class='itemlist' href='#'>Buy Gold Treasure</a></li>
            </ul> 
          </div>
        </div> 
        <small> <small>
        {{- range .Equipped.OtherItems }}
          <br>&nbsp <a href="glossar/#{{ . }}" target="_blank" class='text-monospace nolink'>{{ . }}</a>
        {{- end }}
        <small><small> 
          <br>  
          2 items, 3 Potions and what the hands can carry
        </small> </small> </small> </small>
      </td>
      <!-- Hero Attack Button -->
      <td width='5%'>
        <button id='{{ .Name }}' class='btn btn-default weapon'> 
          <img src='images/{{ .AttackButton }}.png' width='18' />   
        </button>
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>
