<div class='panel-body'>
  <table class='table'>
    <td width='30%'> <h4>{{ .Hero }}</h4>
    </td>
    <td>
      <div id={{ .DivName }}><img src='images/{{ .Dice }}{{ .Roll }}.png' width='35'></div>
    </td>
  </table>
</div>
