<div class='panel-body'> 
  <table class='table'> 
    <td width='30%'><h4>{{ .Hero }}</h4> 
    </td> 
    <td> 
      <div id={{ .DivName }}>
        <a target='_blank' href="{{ .Link }}"><img src='images/{{ .CType }}.png' width='35' height='35'></a>
        {{ .Treasure  }}
      </div>
    </td>
  </table>
</div>
