.nolink {
  text-decoration: none;
  color: #333
}

.btn{
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}


.closefriends {
  margin: 0;
  line-height: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.col-lg-8 {
  padding-left:0px;
  padding-right:0px;
}

.col-lg-3 {
  padding-left:2px;
  padding-right:2px;
}

.col-lg-1 {
  padding-left:0px;
  padding-right:0px;
}


body {
  padding-top: 70px;
}
.panel-body {
  padding: 0px;
}
.table {
  margin-bottom: 0px;
}
.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}
.navbar-btn {
  color: #333;
  background-color: #333;
}
.white-btn {
  color: #fff;
  background-color: #fff;
}
.panel-default {
  border-color: #0000;
}
.panel {
  border: 0px;
  margin-bottom: 0px;
}
.with-height {
  height: 284px;
}
.bottom-align-text {
  position: absolute;
  bottom: 0;
}
.whiteborder {
  border-color: #fff;
}
.tenrigth {
  padding-left:10px;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.maplong {
  width: 835px
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 12px;
}


